{{ interpolate notifications.livestream.Ended }}:
<a href="{{ instructions.related.url }}">{{notifications.livestream.ClickToView}}</a>"
<hr>
<p>{{notifications.IfUnsubscribe}}, <a href="{{baseUrl}}/Streams/participating">{{notifications.ManageEmailSubscriptions}}</a></p>